body{
    font-family: 'Times New Roman', 'sans-serif';
    background-color: #0a0a0aef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #fef5f5;
    text-align: center;
}

.payment-form{
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(64, 63, 63, 0.1);
    width: 400px;
    text-align: center;
}

form{
    display:flex;
    flex-direction:initial;
}

.input-group{
    margin-bottom: 10px;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #dccfcf;
}
/*ignora esto pero no lo borres puede servir*/
input[type="text"],
input[type="month"],
input[type="decimal"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #f0101b;
    box-sizing: border-box;
    font-size: 23px;
    transition: border 0.3s;
}

/*pone la animacion del borde*/
input[type="text"]:focus,
input[type="month"]:focus,
input[type="decimal"]:focus{
    border-color: #00d9ff;
    outline: none;
    box-shadow: 0 0 8px rgb(242, 255, 0);
}

/*Estilo del boton de envio*/

.submit-btn{
    padding: 16px;
    background-color: #ff00d9;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-btn:focus{
    background-color: #b300aa;
}

.generar-btn{
    padding: 18px;
    background-color: rgb(255, 0, 204);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}

.generar-btn:hover{
    background-color: #b60690;
    border-color: #00d9ff;
    outline: none;
    box-shadow: 0 0 8px rgb(242, 255, 0);
}

/*para qque se mire bien en los telefonos */
@media (max-width: 600px){
    .payment-form{
        padding: 15px;
        box-shadow: none;
    }

    input[type="text"],
    input[type="month"],
    input[type="decimal"]{
        font-size: 14px;
    }

    .submit-btn{
        font-size: 14px;
    }

    .generar-btn{
        font-size: 14px;
    }
}